body {
    font-family: arial, sans-serif;
    font-weight: 200;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    margin: auto;
}

header {
    text-align: center;
    margin-top: 2.5rem;
    
}

h1{
    color: #9098a2;
    line-height: 32px;
    margin: 0;
    margin: 1rem 0;
    padding:0;
}
ul{
    margin: 0;
    padding: 0;
}
li {
    color: #9098a2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: normal;
}
a {
    text-decoration: none;
}

i {
    font-size: 32px;
    margin-bottom: 5px;
}

sup.temp-type {
    position: relative;
    font-size: 16px;
    top: -30px;
    text-decoration: none;
}

.weather-app{
    border: 2px solid darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    max-height: 600px;
    margin: 2.5rem auto 7rem;
    padding: 20px 60px;
    border-radius: 20px;
    background:linear-gradient(to top, #ebfff6 0%, #ace0f9 100%);;
}


#search-form{
    margin-top: .7rem;
    display: flex;
    flex-direction: column;
    align-items:center;
}

#search-city {
    border: none;
    box-shadow: 5px 5px 5px darkgray;
    border-radius: 8px;
    
}

input[type="search"] {
    width: 300px;
    height: 50px;
    font-size:1rem;
    text-align: center;
}

#submit-search {
    background: #2172e4;
    margin: .8rem .8rem;
    border-radius: 40px;
    box-shadow: 5px 5px 5px darkgray;
    color:antiquewhite;
    border: none;
    width: 300px;
    height: 50px;
    font-size:1rem;

}

#submit-search:hover{
    background: antiquewhite;
    color: #2172e4;
    transition: all 150ms ease-in-out;
}

#submit-currentCity {
    background:#1d9543;
    margin: 5px 5px;
    border-radius: 40px;
    box-shadow: 5px 5px 5px darkgray;
    color:antiquewhite;
    border: none;
    width: 300px;
    height: 50px;
    font-size:1rem;
}
#submit-currentCity:hover{
    background: antiquewhite;
    color: #1d9543;
    transition: all 150ms ease-in-out;
}

#weather-details {
    margin-top: 1rem;
    text-align: center;
}

.far-temp, .cel-temp{
    font-size: 48px; 
}

.current-conditions {
    margin-top:15px;
    margin-left: 15px;
}
#cloudy-icon {
    font-size: 36px;
    margin-top:15px;
}


#forecast {
    margin: 2rem auto 0;
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: row;
    justify-content: space-between;    
}

.temp {
    text-align: center;
}

.github-link {
    text-align: center;
    border: 1px dotted blue;
}

@media (min-width: 1200px) {
    #search-form{
        display: flex;
        flex-direction: column;
        align-items:center;
    }

}